<!doctype html>
<html>
   <body>
       <pre> {{ string }} </pre>
       <form action = "/" method = "POST">
         <p>hostname:<input type = "text" name = "hn"/></p>
         <p>ip:<input type = "text" name = "ip"/></p>
         <p>fqdn:<input type = "text" name = "fqdn"/></p>
         <p><input type = "submit" value = 'Submit'/></p>
      </form>
   </body>
</html>
